/* Base layout */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}

/* Print */
@media print {
  .no-print {
    display: none !important;
  }
}
